/* Card Sprite Styles */
.card-sprite {
  width: 48px;
  height: 32px;
  background-image: url('/creditcard_sprite.png');
  background-repeat: no-repeat;
  background-size: 290px auto;
  transition: opacity 0.3s ease;
  display: inline-block;
  overflow: hidden;
  background-clip: padding-box; 
}

.card-sprite--star { 
  background-position: 0px 0; 
}

.card-sprite--pulsa { 
  background-position: -48px 0; 
}

.card-sprite--maestro { 
  background-position: -105px 0; 
  
}

.card-sprite--mastercard { 
  background-position: -155px 0; 
  
}

.card-sprite--plus { 
  background-position: -193px 0; 
}

.card-sprite--visa { 
  background-position: -250px 0; 
}

/* Durum class'ları */
.card-sprite--inactive { 
  opacity: 0.3; 
}

.card-sprite--active { 
  opacity: 1; 
}

/* Hover effect */
.card-sprite:hover.card-sprite--inactive {
  opacity: 0.5;
  cursor: pointer;
}

.card-type-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}